:root.theme-dark {
  --background-img: url("../images/cover-image-dark.png");
  --decoration-color: #FF0070;
  --theme-menu: #FF0070;
  --theme-menu-hover: #FF007066;
  --no-focus-text: #DB00FF;
  --title-text: #000028;
  --accent-color: #FF0070;
  --info-title: #FF0070;
  --info-text: #F1B2CE;
}

.theme-dark .header__decoration {
  opacity: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-img: url("../images/cover-image-dark.png");
    --decoration-color: #FF0070;
    --theme-menu: #FF0070;
    --theme-menu-hover: #FF007066;
    --no-focus-text: #DB00FF;
    --title-text: #000028;
    --accent-color: #FF0070;
    --info-title: #FF0070;
    --info-text: #F1B2CE;
  }

  .theme-auto .header__decoration {
    opacity: 100%;
  }
}
