.page.theme_dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #ff0070; /* Отсутствует --sub-text-color */
}

.theme_dark .decorative__element {
  display: flex;
  color: var(--btn-color); /* Дублирование свойства */
}
