/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

* {
  box-sizing: border-box; /* Неполное наследование для псевдоэлементов */
}

body {
  min-inline-size: 375px;
  margin: 0 auto; /* Отсутствует max-inline-size */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
