.page.theme_light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color:#353430;
  --backgroung-image: url(../images/cover-image-light.png);
}

.theme_light .decorative__element {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color:#353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }
  .decorative__element {
    display: none;
  }
  
}

@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}
