@import "header.css";
@import "info.css";

.page {
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  background-image: var(--background-img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title-decor {
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  color: var(--title-text);
  background-color: var(--accent-color);
}

.title-decor_info {
  font-weight: normal;
}

.no-focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--no-focus-text);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 40px var(--global-padding);
}

.gallery {
  display: grid;
  gap: 10px;
  padding-top: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--global-padding);
}

.footer__no-focus {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header::after, .header::before, .footer::after, .footer::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.header::after, .footer::after {
  top: var(--global-padding);
  right: var(--global-padding);
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
}

.header::before, .footer::before {
  bottom: var(--global-padding);
  left: var(--global-padding);
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
}

@media (min-width: 768px) {
  .no-focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    row-gap: 80px;
    padding: 60px var(--global-padding);
  }

  .gallery {
    grid-template-areas: 
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    padding-top: 20px;
  }

  .gallery__image_sunset {
    grid-area: sunset;
  }

  .gallery__image_ice-cream {
    grid-area: ice-cream;
  }

  .gallery__image_books {
    grid-area: books;
  }

  .gallery__image_tape {
    grid-area: tape;
  }

  .gallery__image_street {
    grid-area: street;
  }
}
